.App {
  text-align: center;
  background: #212121;
  color: #fff;
  min-height: 100vh;
  height: 100%;
}

h1{
  margin-top: 0px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-top: 30px;
}

li{
  text-decoration: none;
  list-style: none;
  font-size: 25px;
  margin-bottom: 15px;
}

span{
  margin-left: 30px;
}

